<<<<<<< HEAD
#Teammate{
=======
.d1 {
>>>>>>> d03d1427d192cb7e64ac2228109b164e0cf4f390
    position: absolute;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 900px;
    border-radius: 50px;
<<<<<<< HEAD
    background-color: lightgrey;
    display: none;
}
#HenryHung{
    text-align: center;
    float: left;
    margin:25px 45px;
    width: 45%;
    height: 800px;
    border-radius: 50px;
    background-color: lightpink;
    display: none;
}
.SelfImg {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#JosephHsu{
    text-align: center;
    float: left;
    margin:25px 25px;
    width: 45%;
    height: 800px;
    border-radius: 50px;
    background-color: lightskyblue;
    display: none;
}
=======
    background-color: lightblue;
}

h1 {
    text-align: center;
}

#pic1 {
    position: absolute;
    left: 30px;
    top: 100px;
    width: 350px;
    border-radius: 50%;
    border: 1px solid rgb(114, 178, 216);
}

#text1 {
    text-align: center;
    width: 650px;
    position: absolute;
    left: 40%;
    top: 100px;
}

#pic2 {
    position: absolute;
    left: 30px;
    top: 450px;
    width: 350px;
    border-radius: 50%;
    border: 1px solid rgb(114, 178, 216);
}

#text2 {
    text-align: center;
    width: 650px;
    position: absolute;
    left: 40%;
    top: 450px;
}
>>>>>>> d03d1427d192cb7e64ac2228109b164e0cf4f390
