table,
tr,
td {
    width: 700px;
    margin-top: 20px;
    margin-left: 20%;
    align-items: center;
    text-align: center;
    padding: 10px;
}

h1 {
    text-align: center;
}

#d1 {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 900px;
    border-radius: 50px;
    background-color: pink;
}

#btnEdit {
    background-color: plum;
    position: absolute;
    right: 10%;
}