extends ../layout
<<<<<<< HEAD

block stylesheet
    link(rel="stylesheet", href="/CSS/aboutUs.css")
    script(src="/JS/aboutUs.js")
    script(src='https://code.jquery.com/jquery-3.6.0.js' integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=' crossorigin='anonymous')

block content 

    .d1
        h1 關於我們
        img(src="https://josephhsu294031178.files.wordpress.com/2021/09/rachel-pfuetzner-0fn7fxv1ewa-unsplash.jpg", alt="" id="pic1")
        span(id="text1")
            h2  這裡也許是個介紹你自己的好地方，也能介紹你的網站或放進一些工作人員名單。
            p  這邊可以放一堆公司簡介或是想要傳遞給客人的理念
        img(src="https://josephhsu294031178.files.wordpress.com/2021/09/rachel-pfuetzner-0fn7fxv1ewa-unsplash.jpg", alt="" id="pic2")
        span(id="text2")
            h2  這裡也許是個介紹你自己的好地方，也能介紹你的網站或放進一些工作人員名單。
            p  這邊可以放一堆公司簡介或是想要傳遞給客人的理念
=======
block stylesheet
    link(rel="stylesheet", href="/CSS/aboutUs.css")
    script(src="/JS/aboutUs.js") 
<<<<<<< HEAD
block content 
    #Teammate
        #HenryHung
            img.SelfImg(src='/img/HenryHung.JPEG')
            h1 1082020 洪立恒
            h5 工作範圍:
                p 前端程式、後端資料庫程式、網頁架構
            h5 技術研究:
                p bcrypt加密、D3.js資料視覺化設計、登入系統
        #JosephHsu
            img.SelfImg(src='/img/JosephHsu.jpeg')
            h1 1082049 徐振瑄
            h5 工作範圍:
                p 
            h5 技術研究:
                p 
=======
>>>>>>> 510a626fa5adfe51d11562f1b69c3e64ec9fcafd
>>>>>>> d03d1427d192cb7e64ac2228109b164e0cf4f390
