extends ../layout
block stylesheet
    link(rel="stylesheet", href="/CSS/aboutUs.css")
    script(src="/JS/aboutUs.js") 
block content 
    #Teammate
        #HenryHung
            img.SelfImg(src='/img/HenryHung.JPEG')
            h1 1082020 洪立恒
            h5 工作範圍:
                p 前端程式、後端資料庫程式、網頁架構
            h5 技術研究:
                p bcrypt加密、登入系統、自動化排班系統
        #JosephHsu
            img.SelfImg(src='/img/JosephHsu.jpeg')
            h1 1082049 徐振瑄
            h5 工作範圍:
                p 
            h5 技術研究:
                p 
