extends ../layout
<<<<<<< HEAD

block stylesheet
    link(rel="stylesheet", href="/CSS/aboutUs.css")
    script(src="/JS/aboutUs.js")
    script(src='https://code.jquery.com/jquery-3.6.0.js' integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=' crossorigin='anonymous')

block content 

    .d1
        h1 關於我們
        img(src="https://josephhsu294031178.files.wordpress.com/2021/09/rachel-pfuetzner-0fn7fxv1ewa-unsplash.jpg", alt="" id="pic1")
        span(id="text1")
            h2  這裡也許是個介紹你自己的好地方，也能介紹你的網站或放進一些工作人員名單。
            p  這邊可以放一堆公司簡介或是想要傳遞給客人的理念
        img(src="https://josephhsu294031178.files.wordpress.com/2021/09/rachel-pfuetzner-0fn7fxv1ewa-unsplash.jpg", alt="" id="pic2")
        span(id="text2")
            h2  這裡也許是個介紹你自己的好地方，也能介紹你的網站或放進一些工作人員名單。
            p  這邊可以放一堆公司簡介或是想要傳遞給客人的理念
=======
block stylesheet
    link(rel="stylesheet", href="/CSS/aboutUs.css")
    script(src="/JS/aboutUs.js") 
>>>>>>> 510a626fa5adfe51d11562f1b69c3e64ec9fcafd
