extends ../layout 

block stylesheet
    link(rel="stylesheet", href="/CSS/member.css")
    script(src="/JS/member.js")

block content 
    //-input(type="button" value="生成表格" onclick="autoCreate()")
    div(id="d1")
    table
        tr 
            td 姓名
            td 員工編號
            td 固休時間
        tr 
            td Joseph 
            td 1320002  
            td 2 3
        tr 
            td Joseph 
            td 1320002  
            td 2 3
        tr 
            td Joseph 
            td 1320002  
            td 2 3
    
    
    
