extends ../layout 

block stylesheet
    link(rel="stylesheet", href="/CSS/member.css")
    script(src="/JS/member.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")

block content 
    .container.border.bg-light
        .row
            .col-sm 
                h1(class="text-center") 員工名單
        .row.justify-content-center
            .col-sm-5 
                .input-group.mb-3
                    .input-group-prepend
                        span(class="input-group-text" id="basic-addon1") 員工編號
                    input(type="text" class="form-control" id="IDnum" name="IDnum" placeholder="輸入編號")
                .input-group.mb-3
                    .input-group-prepend
                        span(class="input-group-text" id="basic-addon1") 員工名稱
                    input(type="text" class="form-control" id="Name" name="Name" placeholder="輸入名稱")
                .input-group.mb-3
                    .input-group-prepend
                        span(class="input-group-text" id="basic-addon1") 員工劃休
                    input(type="text" class="form-control" id="Rest" name="Rest" placeholder="輸入劃休")
                .row.m-3.justify-content-center
                    .col-sm-1
                        input(type="button" class="btn btn-outline-success" value="新增員工" onclick="addMember()")