extends ../layout 
block stylesheet
    link(rel="stylesheet", href="/CSS/news.css")
    script(src="/JS/news.js") 
block content
    #newDetail
        #newInfo 
            h1 最新消息
            #Info 
                p 1. 請勿隨地大小便
                p 2. 請記得倒垃圾
                p 3. 上班不要滑手機
                p 4. 全面禁煙
        #newLaw 
            h1 最新法規
            #Law 
                p 1. 遲到罰300元
                p 2. 打掃不乾淨罰500元
                p 3. 曠職罰3000元
        #newMovie
            h1 最新電影
            #Movie
                p 1. 蜘蛛人:無家日
                p 2. 魔法滿屋
                p 3. 大紅狗
                p 4. 美國女孩
                p 5. 大風車
    button#submit.btn.btn-light(type='button' style='width: 100px;height:50px;margin-top: 20px;border:1px solid lightblue') 編輯內容
    
