extends ../layout 

block stylesheet
    script(src="https://d3js.org/d3.v7.min.js")
    script(src="/JS/schedule.js")
block content
    #block_msg(style="display:none;height: 1080px;position: relative;background-color: rgba(0,0,0,.5);")
    
    table(id='calendar')
block stylesheet 
    link(rel="stylesheet", href="/CSS/schedule.css")
    script(src="/JS/schedule.js") 
block content 
    #date 
        #scheduleLine

